.vscode/**
.vscode-test/**
.github/**
src/**
scripts/**
coverage/**
media/walkthrough/**
node_modules/**
out/test/**
*.ts
!out/**/*.js
!out/**/*.d.ts
.gitignore
.eslintrc.json
tsconfig.json
vitest.config.ts
**/*.test.*
**/__mocks__/**
*.map
CONTRIBUTING.md
